<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <!--
        配置各种spring的配置文件，各种配置为了维护方便，都分开写：
        两种写法：
        第一种：已*包含所有；
        第二种：手动引入，目前用这种方法
    -->
	<!--<import resource="config/*.xml" />-->
    <bean id="aaa" class="com.stq.controller.system.MyBeanPostProcessor"/>
    <bean id="hello" class="com.stq.controller.system.HelloWord">
    </bean>
</beans>
