<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!--springmvc的配置信息-->

    <!--第一步：配置需要扫描的包-->
    <context:component-scan base-package="com.stq.controller"/>
    <!--
    第二步：配置处理器映射器和处理器适配器，
    注：此配置有一个简写的配置：<mvc:annotation-driven/>
       在springmvc3.1版本:默认配置DefaultAnnotationHandlerMapping、AnnotationMethodHandlerAdapter、AnnotationMethodHandlerExceptionResolver。
       但在springmvc3.2版本：默认配置RequestMappingHandlerMapping、RequestMappingHandlerAdapter、ExceptionHandlerExceptionResolver

    -->
    <mvc:annotation-driven>
        <!--<mvc:message-converters>-->
            <!--<bean class="com.stq.utils.MyMappingJackson2HttpMessageConverter">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>application/p</value>-->
                        <!--<value>application/json</value>-->
                        <!--<value>text/html</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    </mvc:annotation-driven>

    <!--第三步：配置视图解析器-->
    <!--
       RESTful服务中很重要的一个特性即是同一资源,多种表述我们使用ContentNegotiatingViewResolver就可以做到，
       这个视图解析器允许你用同样的内容数据来呈现不同的view
    -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
            </list>
        </property>
    </bean>
    <!--用Spring CommonsMultipartResolver 上传文件 -->
    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize" value="1024000"></property>-->
        <!--<property name="defaultEncoding" value="utf-8"></property>-->
    <!--</bean>-->

    <!--配置静态资源，将不进行拦截-->
    <!--<mvc:resources mapping="/img/**" location="/fonts/" cache-period="31556926" />-->

    <!--配置拦截器-->
    <!--<mvc:interceptors></mvc:interceptors>-->
</beans>
